# Directory Specific Preferences
.vscode
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/cpp_snippet.code-snippets
# VS Code Tag Mapping
.vscode-ctags
# Doxygen documentation output
Documentation/
.doxygen/