# Interface Configuration (ST-Link)
interface stlink
transport select hla_swd
reset_config srst_only srst_nogate
gdb_port 3333
tcl_port 4444
telnet_port 4444

# Target Configuration (STM32F103)
source [find target/stm32f1x.cfg]
